name: zqf-zut-zxjson-ci

on:
  push:
    branches: [ "main" ]

jobs:
  windows_x64:
    strategy:
      fail-fast: false
      matrix:
        config: [msvc-x64-dbg, msvc-x64-rel, msvc-x64-dbg-mt, msvc-x64-rel-mt, clang-cl-x64-dbg, clang-cl-x64-rel, clang-cl-x64-dbg-mt, clang-cl-x64-rel-mt]

    runs-on: windows-2022
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Config
      run: cmake --preset=win-${{ matrix.config }} -DZQF_DOXYGEN=OFF -DZQF_DEVELOP=OFF

    - name: Build
      run: cmake --build .build/win-${{ matrix.config }}

    - name: Testing
      run: ctest --test-dir .build/win-${{ matrix.config }}

  windows_arm64:
    strategy:
      fail-fast: false
      matrix:
        config: [msvc-arm64-dbg, msvc-arm64-rel, msvc-arm64-dbg-mt, msvc-arm64-rel-mt]

    runs-on: windows-11-arm
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: arm64

    - name: Config
      run: cmake --preset=win-${{ matrix.config }} -DZQF_DOXYGEN=OFF -DZQF_DEVELOP=OFF

    - name: Build
      run: cmake --build .build/win-${{ matrix.config }}

    - name: Testing
      run: ctest --test-dir .build/win-${{ matrix.config }}

  ubuntu_x64:
    strategy:
      fail-fast: false
      matrix:
        config: [gcc-x64-dbg, gcc-x64-rel, clang-x64-dbg, clang-x64-rel]

    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup
      run: sudo apt-get update && sudo apt-get install -y clang cmake ninja-build

    - name: Config
      run: cmake --preset=linux-${{ matrix.config }} -DZQF_DOXYGEN=OFF -DZQF_DEVELOP=OFF

    - name: Build
      run: cmake --build .build/linux-${{ matrix.config }}

    - name: Testing
      run: ctest --test-dir .build/linux-${{ matrix.config }}
